<form method="POST" action="/pizzas">
  <label for="first-name">First Name: </label>
  <input type="text" id="first-name" name="first_name">

  <label for="last-name">Last Name: </label>
  <input type="text" id="last-name" name="last_name"/>

  <label for = "pizza-select">Select Pizza</label>
  <select id="pizza-select" name="topping">
    <option value="Margherita"> Margherita</option>
    <option value="Calzone"> Calzone</option>
  </select>

  <label for="quantity">Quantity</label>
  <input type="number" name="quantity" id="q">

<input type="submit" value="Order Pizza">




</form>